# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/

# Streamlit
.streamlit/secrets.toml